body{
    background-color: burlywood;
}
.container {
    background-image: url(bkgd.png);
    background-position: inherit;
    background-repeat: no-repeat;
    text-align: center;
    width: 309px;
    height: 500px;
    padding:inherit;
}

h4 {
    color: lightblue;
    text-align: left;
    padding-left: 35px;
    padding-top: 15px;
}

button {
    width: 60px; 
    height: 50px; 
    font-size: 22px;
    background-color: gray;
    color: #fee;
    border: 4px gray outset;
    border-radius: 9px;
    cursor: pointer; 
}

.top {
    height: 30px; 
    background-color: li;
    box-shadow: 3px 2px 3px black;
    border-radius: 4px;
    border: 1px  outset;
    color: #bec;
    text-shadow: 2px 2px 20px white;
    font-size: 20px;
}

#c {
    width: 80%;
    height: 50px;
    color: black;
}

button:active {
    background-color: gray;
    outline: 1px solid grey;
    border: 3px gainsboro inset;
}

.top:hover{
    box-shadow: inset 5px 5px 5px grey, inset -5px -5px 5px white;
}

button:hover{
    background-color: gainsboro;
}

.top:active{
    background-color: gainsboro;
    outline: 1px solid gray;
    border: 3px gainsboro inset;
}
#display-container {
    border: 19px inset;
    margin-bottom: 29px;   
}

#h1, #display1 {
    width: inherit; 
    height: 25px; 
    background-color:powderblue; 
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
    text-align: right;
    overflow: hidden;
    color: black;
    text-shadow: 2px 2px 1px #9aa;
}
#display1 {
    font-size: 16px;
    padding-bottom: 10px; 
}