
body {
    background-color: gray;
    padding: 0px 15px;
    font-size: 150%;
    font-family: sans-serif;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/The_Green_and_Golden_Bell_Frog.jpg/1200px-The_Green_and_Golden_Bell_Frog.jpg");
    background-position: top;            /* Center the image */
    background-repeat: no-repeat;        /* Do not repeat the image */
    background-size: cover;              /* Resize the background image to cover the entire container */
}

.cls_text_align_left {
    text-align: left;
}

.cls_text_align_right {
    text-align: right;
}

.cls_text_align_center {
    text-align: center;
}

.cls_background_color_gold {
    background-color: gold;
}

div {
    padding:10px 20px;
    margin: 10px 20px
}

;

